# Compiled Object files 

*.slo

*.lo

*.o

*.obj

*.exe


# Compiled Dynamic libraries

*.so

*.dylib


# Compiled Static libraries

*.lai

*.la

*.a

*/Debug*

*Release*

ipch
*.sdf
*.sln
*.vcxproj
/TGCViewer/*.filters
*.user
*.filters
*.ncb
*.opt
*.plg
*.suo
*.vcproj
Debug
